<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">


    <title>Angular Select</title>
</head>

<body ng-app="myApp">
    <!--mousover-->
    <div ng-controller="myCtrl">
        <h1 ng-mouseover="count=count+1"> mouse over me</h1>
        <h2>{{count}}</h2>
    </div>

    <!--ng-click-->
    <div ng-controller="myClick">
        <button ng-click="myFunction()"> Click Me<button/>
        <p>{{count}}</p>
    </div>
    <!--Toggle, True/False-->
    <div ng-controller="myToggle">
        <button ng-click="myFunction()"> Click Me!<button/>
            <div ng-show="showMe">
                <h1>Menu:</h1>
                <div>Pizza</div>
                <div>Pasta</div>
                <div>Pesce</div>
            </div>
    </div>
        <!-- JS-->
        <script src="./event.js"></script>
</body>

</html>