<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">


    <title>Angular Forms</title>
</head>

<body ng-app="myApp">
    <!--mousover-->
    <div ng-controller="myCtrl">
        <form>
            First Name :<input type="text" ng-model="firstname">
        </form>
        <h1>You Entered : {{firstname}}</h1>
    </div>
    <div>
        <form>
            Check to show a header:
            <input type="checkbox"  ng-model="myVar">
        </form>
        <h1 ng-show="myVar">The Header</h1>
    </div>

    <div>
    <form>
            Pick a topic:
            <input type="radio" ng-model="myVar" value="dogs">Dogs
            <input type="radio" ng-model="myVar" value="tuts">Tutorials
            <input type="radio" ng-model="myVar" value="cars">Cars
</form>

        <div ng-switch="myVar">
  <div ng-switch-when="dogs">
     <h1>Dogs</h1>
     <p>Welcome to a world of dogs.</p>
  </div>
  <div ng-switch-when="tuts">
     <h1>Tutorials</h1>
     <p>Learn from examples.</p>
  </div>
  <div ng-switch-when="cars">
     <h1>Cars</h1>
     <p>Read about cars.</p>
  </div>
</div>

        
    </div>

        <!-- JS-->
        <script src="./form.js"></script>
</body>

</html>